<!DOCTYPE html>
<html>
<head>
    <title>Create Booking</title>
</head>
<body>
    <h1>Create Booking</h1>
    <form [formGroup]="bookingForm" (ngSubmit)="createBooking()">
        <label for="pickUpLocation">Pick Up Location</label>
        <input formControlName="pickUpLocation">
        <br><br>
        <label for="dropOffLocation">Drop Off Location</label>
        <input formControlName="dropOffLocation">
        <br><br>
        <label for="pickUpTime">Pick Up Time</label>
        <input formControlName="pickUpTime">
        <br><br>
        <label for="fare">Fare</label>
        <input formControlName="fare">
        <br><br>
        <label for="vehicle">Vehicle</label>
        <select id="vehicle" name="vehicle">
            <option value="Bently">Bently</option>
            <option value="Audi">Adui</option>
            <option value="Jeep">Jeep</option>
            <option value="Ford">Ford</option>
            <option value="Honda">Honda</option>
        </select><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>