/* Style for the entire navigation bar */
.nav {
    padding: 10px 0;          /* Padding around the nav bar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    display: flex;             /* Display flex for the nav bar */
    justify-content: space-around; /* Align content of nav bar */
    height: 5vh;
    width: 95vw;
    margin: auto;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}

/* Style for navigation links */
.nav-links a, button {
    align-items: center;      /* Align content of the nav bar vertically */
    justify-content: center;  /* Align content of the nav bar horizontally */
    color: #007bff;          /* Bootstrap primary color for links */
    text-decoration: none;   /* Remove underline from links */
    margin: 0vh 5vw;
    padding: 10px 15px;      /* Padding around each link */
    display: inline-block;   /* Align links in a line */
    border-color: transparent; /* Remove border around links */
    background-color: transparent; /* Remove background color from links */
    font-size: 1.25rem;
}

/* Hover effect for links */
.nav-links a:hover, button:hover {
    color: #0056b3;
    border-radius: 5px;
    cursor: pointer;        
}

/* Style for the active link (you may need to add a class or use routerLinkActive in Angular) */
.nav-links a.active, button.active {
    color: #fff; 
    background-color: #007bff; 
}

.nav-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    font-size: 1.25rem;
}

.nav-search input {
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 5px;
    border-color: rgb(122, 121, 121);
}

.nav-search label {
    border-color: rgb(122, 121, 121);
}