<!DOCTYPE html>
<html>
<head>
    <title>Bookings</title>
</head>
<body>
    <h1>Bookings</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Pick Up</th>
            <th>Drop Off</th>
            <th>Pick Up Time</th>
            <th>Fare</th>
            <th>Vehicle</th>
            <th> # </th>
            <th> # </th>
        </tr>
        <tr *ngFor="let booking of filteredBookings">
            <td>{{ booking.id }}</td>
            <td>{{ booking.pickUpLocation }}</td>
            <td>{{ booking.dropOffLocation }}</td>
            <td>{{ booking.pickUpTime }}</td>
            <td>${{ booking.fare }}</td>
            <td>{{ booking.vehicleType }}</td>
            <td><button class="update" type="button" (click)="onUpdate(booking.id)">Update</button></td>
            <td><button class="delete" type="button" (click)="onDelete(booking.id)">Delete</button></td>
        </tr>
    </table>
</body>
</html>
